<footer>
    
    <div>
        <b>Sobre</b>
        <a href="">Sobre a SIE</a>
        <a href="">Carreiras</a>
        <a href="">PlayStation Studios</a>
        <a href="">PlayStation Productions</a>
        <a href="">Empresarial</a>
    </div>
    <hr>
    <div>
        <b>Produtos</b>
        <a href="">PS5</a>
        <a href="">PS4</a>
        <a href="">PS VR2</a>
        <a href="">PS Plus</a>
        <a href="">Acessórios</a>
        <a href="">Jogos</a>
    </div>
    <hr>
    <div>
        <b>Valores</b>
        <a href="">Meio Ambiente</a>
        <a href="">Acessibilidade</a>
        <a href="">Segurança online</a>
        <a href="">Diversidade, equidade e inclusão</a>
    </div>
    <hr>
    <div>
        <b>Suporte</b>
        <a href="">Central de suporte</a>
        <a href="">Equipe de segurança do PlayStation</a>
        <a href="">Status da PSN</a>
        <a href="">Reparos do PlayStation</a>
        <a href="">Redefinição de senha</a>
        <a href="">Manuais</a>
    </div>
</footer>
